ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffaaaa;
}

h1{
    text-align: center;
}

img{
    height: 100px;
}

body{
    background-color: #fff8f8;
}