body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("SUE_Food_Background.jpg");
}

.left-side {
    height: auto;
    width: 150px;
    position: fixed;
    background-color: #aa4b39;
    margin-top: 150px;
    margin-left: 5px;
    margin-bottom: initial;
    float: left;
}

button {
    width: 100%;
    border: none;
    padding: 15px 15px;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

button:hover {
    background-color: #e88686;
}

button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {           
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffaaaa;
}

h1 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #AA4B39;
    top: 0;
    width: 100%;
    height: 150px;
    position: fixed;
}

div.search {
    float: left;
    width: auto;
    padding: 15px;
    padding-top: 50px;
    padding-left: 17%;
}

.main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 110%;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    width: 400px;
    float: left;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 150px;
    border-color: #AA4B39;
}

.image2 {
    position: relative;
    float: left;
    height: 100px;
    width: auto;
    padding: 15px;
    padding-top: 25px;
}

.content {
    padding-top: 175px;
    text-align: center;
}

.pizza_image {
    height: 300px;
}

.tab {
    width: 200px;
    height: 100px;
    margin-bottom: 100px;
    background-color: #aa4b39;
}